<!DOCTYPE html>
<html>
<head>
  <title>Online shop</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <nav>
    <a href="./index.ejs" class="nav-el title">Jelly shop</a>
    <a href="./cart.ejs" class="nav-el shopping-cart">Cart</a>
  </nav>

  <main>
    <h1>Shop</h1>
    <div class="list-container">
      <div class="item-tile hidden">
        <img src=""/>
        <h4 class="item-title">Test Item</h4>
      </div>
    </div>
  </main>

  <footer>
    <p>@ Jelly shop</p>
  </footer>
</body>
</html>
