<!DOCTYPE html>
<html>
<head>
  <title>Online shop</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <main>
    <div class="list-container">
      <% items.forEach(item => { %>
        <%- include('partials/itemTile.ejs', {item: item}) %>
      <% }) %>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
</body>
</html>
