<!DOCTYPE html>
<html>
<head>
  <title>Online shop</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="./index.ejs" class="nav-el title">Jelly shop</a>
    <a href="./cart.ejs" class="nav-el shopping-cart">Cart</a>
  </nav>

  <main>
    <div class="list-container">
      <div class="item-tile hidden">
        <img src="/images/keychain_cat.jpg"/>
        <h4 class="item-title">Test Item</h4>
        <p class="price">9.99 $</p>
      </div>
    </div>
  </main>

  <footer>
    <p>@ Jelly shop</p>
  </footer>
</body>
</html>
