@use "./colors" as *;

body {
    font-size: 18px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    background: #f9f9f9;
    
    margin: 0;
    padding: 0;
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button, input {
    font-size: 18px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: $on-primary-color;
}

nav {
    position: sticky;
    top: 0;

    padding: 16px;
    background-color: $primary-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

    a {
        font-style: none;
        color: $on-primary-color;
        text-decoration: none;

        &:hover {
        cursor: pointer;
        }
    }

    .nav-el {
        &.title {
        font-size: 1.8rem;
        font-weight: 600;
        }
    }
}

main {
    flex-grow: 1;
    margin: 20px 10vw;
    display: flex;
    justify-content: center;
}
  
footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $teritary-color;
    color: $on-secondary-color;

    p {
        margin: 0;
        margin-bottom: 8px;
        margin-top: 4px;
    }
}