body {
  font-size: 18px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button, input {
  font-size: 18px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: rgb(69, 30, 87);
}

nav {
  padding: 16px;
  background-color: rgb(125, 127, 165);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
nav a {
  font-style: none;
  color: rgb(69, 30, 87);
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
}
nav .nav-el.title {
  font-size: 1.8rem;
  font-weight: 600;
}

main {
  flex-grow: 1;
  margin: 20px 10vw;
  display: flex;
  justify-content: center;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #818A94;
  color: #011936;
}
footer p {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 4px;
}

.list-container {
  background-color: rgb(125, 127, 165);
  border-radius: 20px;
  color: rgb(69, 30, 87);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-tile {
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 260px;
  height: 280px;
  background-color: #f9f9f9;
  border-radius: 16px;
  cursor: pointer;
}
.item-tile img {
  width: 100%;
  height: 74%;
  object-fit: cover;
  border-radius: 16px;
}
.item-tile h4 {
  font-size: 1.1em;
  margin-top: 12px;
  margin-bottom: 4px;
}
.item-tile p {
  text-align: end;
  margin: 0;
  margin-right: 4px;
}

.item-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #B3D1B1;
  border-radius: 20px;
}
.item-details-container img {
  width: 28vw;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
.item-details-container .details {
  box-sizing: border-box;
  margin: 40px;
  border: solid rgb(125, 127, 165) 6px;
  border-radius: 20px;
  padding: 20px;
  color: #011936;
  width: 30vw;
  height: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-details-container .details .main-info {
  flex-grow: 1;
}
.item-details-container .details .main-info h2 {
  color: rgb(69, 30, 87);
  font-size: 2.4rem;
  margin: 8px 8px 18px 8px;
}
.item-details-container .details .main-info .description {
  margin-top: 0;
  color: rgb(1.9272727273, 48.1818181818, 104.0727272727);
}
.item-details-container .details .buy-info {
  height: 60px;
  display: flex;
  align-items: center;
}
.item-details-container .details .buy-info h4 {
  text-align: end;
  color: #011936;
  font-size: 2.2rem;
  flex-grow: 1;
}
.item-details-container .details .buy-info button {
  background-color: #011936;
  color: #B3D1B1;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  padding: 16px;
  cursor: pointer;
}
.item-details-container .details .buy-info button:hover {
  color: #818A94;
}
.item-details-container .details .buy-info input[type=number] {
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  padding: 16px;
  width: 30px;
  background-color: rgb(125, 127, 165);
  color: rgb(69, 30, 87);
}

/*# sourceMappingURL=style.css.map */
